<!-- views/partials/head.ejs -->
<meta charset="utf-8" />
<title>
    ระบบเซียมซีออนไลน์
</title>
<meta name="description" content="Latest updates and statistic charts">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--begin::Web font -->
<script src="/assets/custom/webfont.min.js"></script>
<script>
    WebFont.load({
        google: { "families": ["Open Sans:300,400,500,600,700"] },
        active: function () {
            sessionStorage.fonts = true;
        }
    });
</script>
<!--end::Web font -->
<!--begin::Base Styles -->
<link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/custom/bootstrap-datepicker-thai/datepicker.min.css" rel="stylesheet" />
<link href="/assets/custom/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<link href="/assets/custom/bootstrap-fileinput/themes/explorer-fa/theme.min.css" rel="stylesheet" />
<link href="/assets/custom/font.min.css" rel="stylesheet" />
<link href="/assets/custom/custom.css" rel="stylesheet" />
<!--end::Base Styles -->
<link rel="shortcut icon" href="assets/custom/images/favicon.ico" />