<!-- views/partials/menu.ejs -->
<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu"
         class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
         data-menu-vertical="true"
         data-menu-scrollable="false" data-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <li class="m-menu__item  m-menu__item--active" aria-haspopup="true">
                <a href="/adminconsole" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Dashboard
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    Components
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                    <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-map-location"></i>
                    <span class="m-menu__link-text">
                        จัดการข้อมูลวัด
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item" aria-haspopup="true">
                            <a href="/adminconsole/temple_list" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                    <i class="flaticon-search"></i> ค้นหาข้อมูลรายชื่อวัด
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/adminconsole/temple_create" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                    <i class="flaticon-plus"></i> เพิ่มข้อมูลรายชื่อวัด
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-folder-2"></i>
                    <span class="m-menu__link-text">
                        จัดการข้อมูลเซียมซี
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/adminconsole/horoscope_list" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                    <i class="flaticon-search"></i> ค้นหารายการเซียมซี
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/adminconsole/horoscope_create" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                    <i class="flaticon-plus"></i> เพิ่มข้อมูลรายการเซียมซี
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-graph"></i>
                    <span class="m-menu__link-text">
                        รายงานการใช้งาน
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/adminconsole/report_login" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                    <i class="flaticon-graphic-2"></i> รายงานการเข้าใช้ระบบ
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/adminconsole/report_statistic" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                    <i class="flaticon-statistics"></i> รายงานสถิติการดูผลเซียมซี
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
                        จัดการข้อมูลผู้ใช้ระบบ
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/adminconsole/users_list" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                    <i class="flaticon-search"></i> ค้นหารายชื่อผู้ใช้ระบบ
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/adminconsole/users_create" class="m-menu__link ">
                                <span class="m-menu__link-text">
                                    <i class="flaticon-plus"></i> เพิ่มรายชื่อผู้ใช้ระบบ
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="/adminconsole/logout" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-logout"></i>
                    <span class="m-menu__link-text">
                        ออกจากระบบ
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
