body, .m-subheader .m-subheader__title, .btn, .btn.m-btn--custom {
    font-family: 'Open Sans', 'NotoSansThai';
}

.m-brand {
    background: #FAFAFC;
}

.img-intro {
    opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.m-aside-left--minimize .m-aside-menu .m-menu__nav .m-menu__item:not([data-menu-submenu-mode="accordion"]).m-menu__item--hover > .m-menu__submenu, .m-aside-menu.m-aside-menu--dropdown .m-menu__nav .m-menu__item:not([data-menu-submenu-mode="accordion"]).m-menu__item--hover > .m-menu__submenu {
    width: 340px;
    margin-left: 340px;
}

.m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__body .m-datatable__row > .m-datatable__cell, .m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__foot .m-datatable__row > .m-datatable__cell {
    vertical-align: text-top;
    padding: 11px 10px;
    font-size: 1rem;
}

.m-form-entry .m-form__group label {
    font-size: 1.1rem;
    /*font-weight: bold;*/
}

.m-form .m-form__section {
    color: #575962;
}

.m-form.m-form--group-seperator-dashed .m-form__group, .m-form.m-form--group-seperator .m-form__group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jstree-default .jstree-clicked {
    background: none;
}

.m-demo .m-demo__preview {
    background: white;
    border: 4px solid #f7f7fa;
    padding: 20px;
}

h5, h5 > label, .h5 > label {
    text-decoration: underline;
}

form .m-form__group label.label-form {
    font-weight: 400;
    font-size: 1.1rem;
}

.m-form .m-form__group .form-control-label, .m-form .m-form__group label {
    font-weight: bold;
    font-size: 1rem;
}

.link-title {
    color: #575962;
}

    .link-title:hover {
        text-decoration: underline;
    }

.btn-link:hover {
    text-decoration: none;
}

.btn-width-sm {
    width: 100px;
}

.btn-width-md {
    width: 140px;
}

.icon-link {
    vertical-align: bottom;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xs-25,
.col-sm-25,
.col-md-25,
.col-lg-25,
.col-xs-35,
.col-sm-35,
.col-md-35,
.col-lg-35 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 12.499995%;
    float: left;
}

.col-xs-25 {
    width: 20.83333%;
    float: left;
}

.col-xs-35 {
    width: 29.16667%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 12.499995%;
        float: left;
    }

    .col-sm-25 {
        width: 20.83333%;
        float: left;
    }

    .col-sm-35 {
        width: 29.16667%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 12.499995%;
        float: left;
    }

    .col-md-25 {
        width: 20.83333%;
        float: left;
    }

    .col-md-35 {
        width: 29.16667%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 12.499995%;
        float: left;
    }

    .col-lg-25 {
        width: 20.83333%;
        float: left;
    }

    .col-lg-35 {
        width: 29.16667%;
        float: left;
    }
}

table.scroll {
    width: 100% !important;
    margin: 0 !important;
    background-color: #fff;
    border: 0;
}

    table.scroll tbody, table.scroll thead {
        display: block;
    }

    table.scroll thead {
        background-color: #f1f4f7;
    }

        table.scroll thead th {
            font-size: 15px;
            font-weight: 600;
            border: 1px solid #e7ecf1;
            vertical-align: bottom;
            border-bottom: 2px solid #e7ecf1;
            padding: 7px;
            line-height: 1.42857;
            vertical-align: top;
            border-top: 1px solid #e7ecf1;
        }

            table.scroll thead th.padding, table.scroll tbody td.padding {
                padding: 8px;
            }

    table.scroll > tbody > tr > td:first-child, table.scroll > tbody > tr > th:first-child, table.scroll > tfoot > tr > td:first-child, table.scroll > tfoot > tr > th:first-child, table.scroll > thead > tr > td:first-child, table.scroll > thead > tr > th:first-child {
        border-left: 0;
    }

    table.scroll, table.scroll > tbody > tr > td, table.scroll > tbody > tr > th, table.scroll > tfoot > tr > td, table.scroll > tfoot > tr > th, table.scroll > thead > tr > td, table.scroll > thead > tr > th {
        border: 1px solid #e7ecf1;
    }

        table.scroll tbody {
            height: 450px;
            overflow-y: auto;
            overflow-x: hidden;
        }

            table.scroll tbody td {
                font-size: 14px;
                padding: 7px;
                line-height: 1.42857;
                vertical-align: top;
                border-top: 1px solid #e7ecf1;
            }

                table.scroll tbody td.text-step {
                    font-size: 13px;
                }
