@font-face {
    font-family: "NotoSansThai";
    src: url("fonts/NotoSansThai-Regular.ttf");
}

@font-face {
    font-family: "NotoSansThai";
    src: url("fonts/NotoSansThai-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "NotoSansThaiUI";
    src: url("fonts/NotoSansThaiUI-Regular.ttf");
}

@font-face {
    font-family: "NotoSansThaiUI";
    src: url("fonts/NotoSansThaiUI-Bold.ttf");
    font-weight: bold;
}

.NotoSansThai {
    font-family: 'NotoSansThai';
}

.NotoSansThaiUI {
    font-family: 'NotoSansThaiUI';
}